@charset "UTF-8";

header {
    background-color: var(--cor4);
}

header > h1 {
    color: white;
    font-family: var(--fonte-destaque);

}

header > p {
    color: white;
}

nav {
    background-color: var(--cor5);
}

nav > a {
    color: var(--cor1);
}