@charset "UTF-8";

main{
    background-color: white;
    text-align: center;
    width: 780px;
    padding: 10px;
    margin: 20px auto;
    box-shadow: 1px 1px 3px 1px #00000066;
}

@font-face {
    font-family: IDroid;
    src: url(../fontes/idroid.otf) format('opentype');
}

.titulo{
    font-family: 'IDroid';
    color: green;
    text-align: left;
}

h3{
    background-image: linear-gradient(to right, #84e1ad, #ffffff00);
    padding-left: 10px;
}

.destaque, .dsqexterno{
    color: green;
    font-weight: bold;
}

.dsqexterno:after{
    content: "🔗";
}

.dsqexterno{
    background-color: #277549;
    padding: 2px;
    border-radius: 3px;

}

.dsqexterno > a{
    color: #84e1ad;
    text-decoration: none;
}

.dsqexterno > a:hover{
    text-decoration: underline;
}

.imgrespons{
    block-size: 230px;
}

article > p{
    text-align: left;
    text-indent: 2em;
}

#video{
    background-color: #277549;
    padding: none;
}