@charset "UTF-8";

#menu{
    margin-top: 55px;
    text-shadow: none;
    text-align: left;
}

#menu > a{
    color: white;
    text-decoration: none;
    margin-right: 10px;
}

#menu > a:hover{
    font-weight: bold;
    text-decoration: underline;
}
