@charset "UTF-8";

body {
    background-color: rgb(17, 16, 16);
    font-family: Arial, Helvetica, sans-serif;
}

#conteudo {
    background-color: rgb(59, 59, 59);
    color: white;
    text-align: center;
    border-radius: 20px;
    width: 400px;
    height: 300px;
    padding-top: 30px; 
    margin: 150px auto;
}

#entradas {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2px;
}

input {
    height: 34px;
    width: 200px;
    font-size: larger;
    padding-left: 10px;
    margin: 2px;
    border-radius: 3px;
    border-width: 0px;
}

input:focus {
    border: 5px solid rgb(41, 76, 104); 
}

button {
    margin-top: 10px;
    padding: 5px;
    height: 50px;
    width: 100px;
    border: none;
    border-radius: 5px;
}

button:hover {
    background-color: #7e7f7f;
}

button:active {
    transition-duration: 1s;
    background-color: #9c9c9c;
}